* {
    border: 0;
    border-radius: 1.1em;
    font-family: SF Pro Rounded;
    font-size: 17pt;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.9;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0.2em;
}

#clock,
#cpu,
#custom-download,
#custom-mem,
#custom-upload,
#custom-volume, 
#custom-workspaces,
#memory,
#memory.swap,
#network.dl,
#network.ul,
#tray {
    padding: 0.3em 0.7em;
    color: white;
    background: #383c4a;
}

#workspaces {
    background: #383c4a;
}

#workspaces button {
    transition: none;
    color: #7c818c;
    background: transparent;
    /* padding: 5px; */
}

#workspaces button.persistent {
    color: #7c818c;
    font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    background: #7c818c;
}

#workspaces button.focused {
    color: white;
}
